<h2>Admin Dashboard</h2>


<div style="display:flex; gap:20px;">
  <div>Total: <%= counts.total %></div>
  <div>Pending: <%= counts.pending %></div>
  <div>Approved: <%= counts.approved %></div>
  <div>Resolved: <%= counts.resolved %></div>
  <div>Rejected: <%= counts.rejected %></div>
</div>

<hr />

 </div>
    <a href="/admin/export/csv" class="btn btn-success">Download CSV</a>
<a href="/admin/export/excel" class="btn btn-primary">Download Excel</a>
</div>

<div style="display:flex; gap:20px; flex-wrap:wrap;">
  <% issues.forEach(i => { %>
    <div style="border:1px solid #ccc; padding:15px; width:250px;">
      <h4><%= i.title %></h4>
      <p><%= i.description %></p>
      <p>Status: <strong><%= i.status %></strong></p>
      <p>Priority: <%= i.priority %></p>
      <p>Category: <%= i.category %></p>

      <% if(i.status === 'pending'){ %>
  <!-- Approve -->
  <form action="/admin/issue/<%= i._id %>/approve" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-success">Approve</button>
  </form>

  <!-- Reject -->
  <form action="/admin/issue/<%= i._id %>/reject" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger">Reject</button>
  </form>

<% } else if(i.status === 'approved'){ %>
  <!-- Resolve -->
  <form action="/admin/issue/<%= i._id %>/resolve" method="POST">
    <button type="submit" class="btn btn-primary">Resolve</button>
  </form>
<% } %>

    </div>
    <a href="/admin/export/csv" class="btn btn-success">Download CSV</a>
<a href="/admin/export/excel" class="btn btn-primary">Download Excel</a>

  <% }) %>
</div>
